In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("../data/test-answer.csv")
df.tail()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,Color,Automatic,CC,Doors,Cylinders,Gears,Quarterly_Tax,Weight,Mfr_Guarantee,BOVAG_Guarantee,Guarantee_Period,ABS,Airbag_1,Airbag_2,Airco,Automatic_airco,Boardcomputer,CD_Player,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
412,1433,TOYOTA Corolla 1.6 Lin.Terra Aut. 2/3-Doors,9950,78,3,1998,30964,Petrol,110,0,Silver,1,1600,3,4,4,85,1080,1,1,12,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
413,1435,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8450,72,9,1998,26000,Petrol,86,0,White,0,1300,3,4,5,69,1015,0,1,3,1,1,1,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0
414,1436,TOYOTA Corolla 1.3 Linea Terra 4/5-Doors,8950,78,3,1998,24000,Petrol,86,1,Green,1,1300,5,4,5,85,1065,1,1,12,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
415,1437,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8450,80,1,1998,23000,Petrol,86,0,Blue,0,1300,3,4,5,69,1015,0,1,3,1,1,1,0,0,0,0,0,0,1,0,0,1,1,1,0,0,0
416,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,Grey,0,1300,3,4,5,69,1015,0,1,3,1,1,1,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0

In [3]:
df = pd.concat([df.Id, df.Price], axis=1)
df.tail()

       Id  Price
412  1433   9950
413  1435   8450
414  1436   8950
415  1437   8450
416  1439  10845

#### team 1

In [35]:
df1 = pd.read_csv("../team_answer_set/team1.csv")
df1 = pd.concat([df1.Id, df1.Price], axis=1)
df1.tail()

       Id        Price
412  1433  9751.671290
413  1435  7976.008348
414  1436  9252.157913
415  1437  8031.799711
416  1439  8106.188196

In [29]:
mean_squared_error(df.Price, df1.Price)

1481500.6104049729

#### team 2

In [37]:
df2 = pd.read_excel("../team_answer_set/team2.xlsx")
df2 = pd.concat([df2.Id, df2.Price], axis=1)
df2.tail()

       Id      Price
412  1433  8353.0032
413  1435  7038.5430
414  1436  7844.7228
415  1437  7081.7430
416  1439  7139.3430

In [38]:
mean_squared_error(df.Price, df2.Price)

1819564.2213226913

#### team 3

In [40]:
df3 = pd.read_csv("../team_answer_set/team3.csv")
# df3 = pd.concat([df3.Id, df3.Price], axis=1)
df3.tail()

               0
412  8190.702667
413  8402.239591
414  7763.769517
415  7876.338532
416  8513.677689

In [44]:
mean_squared_error(df.Price, df3)

2879132.8948585563

#### team 4

In [55]:
df4 = pd.read_csv("../team_answer_set/team4.csv", encoding='latin-1')
df4 = pd.concat([df4.Id, df4.Price], axis=1)
df4.tail()

       Id        Price
412  1433  8150.794696
413  1435  6799.926581
414  1436  7665.507440
415  1437  6799.926510
416  1439  6799.926510

In [56]:
mean_squared_error(df.Price, df4.Price)

1711937.639351822

#### team 5 => 채점불가

In [106]:
df5 = pd.read_csv("../team_answer_set/team5.csv")
df5 = pd.concat([df5.Id, df5.Yhat], axis=1)
# df5.sort_values("Id", ascending=False)
df5.tail()

        Id        Yhat
1014  1080   5803.7915
1015  1052   6051.7912
1016  1099   6754.8265
1017   396  10181.6388
1018   193  11320.9005

In [107]:
mean_squared_error(df.Price, df5.Yhat)

ValueError: Found input variables with inconsistent numbers of samples: [417, 1019]

#### team 6

In [83]:
df6 = pd.read_excel("../team_answer_set/team6.xlsx")
df6 = pd.concat([df6.ID, df6.Price], axis=1)
df6.tail()

       ID        Price
412  1433  9824.886013
413  1435  8088.148420
414  1436  9237.491945
415  1437  8043.489159
416  1439  8220.772807

In [84]:
mean_squared_error(df.Price, df6.Price)

1331127.7349744197

#### team 7 => 채점불가

In [86]:
df7 = pd.read_csv("../team_answer_set/team7.csv")
df7 = pd.concat([df7.Id, df7.Predict_Price], axis=1)
df7.tail()

       Id Predict_Price
412  1433      8,971.20
413  1435      8,080.60
414  1436      8,265.00
415  1437      7,296.20
416  1439      8,216.40

In [87]:
mean_squared_error(df.Price, df7.Predict_Price)

ValueError: could not convert string to float: '8,216.40'

In [104]:
type(df7.Predict_Price[0])

str

#### team 8

In [112]:
df8 = pd.read_csv("../team_answer_set/team8.csv", encoding='latin-1')
df8 = pd.concat([df8.Id, df8.Predicted], axis=1)
df8.tail()

       Id    Predicted
412  1433  8985.027659
413  1435  8390.920072
414  1436  8305.791323
415  1437  7709.799155
416  1439  8508.904565

In [113]:
mean_squared_error(df.Price, df8.Predicted)

1418190.1016589587

#### team 9

In [114]:
df9 = pd.read_csv("../team_answer_set/team9.csv", )
df9 = pd.concat([df9.Id, df9.Price], axis=1)
df9.tail()

       Id        Price
412  1433  9218.892988
413  1435  8256.447543
414  1436  9108.543204
415  1437  8314.067419
416  1439  8390.893921

In [115]:
mean_squared_error(df.Price, df9.Price)

1588302.2131158749

#### team 7 again

#### team 5 again

In [4]:
df5 = pd.read_csv("../team_answer_set/deadline.csv")
df5.tail()

       Id      Price
412  1433  8868.2050
413  1435  8231.7709
414  1436  8947.5459
415  1437  8433.6515
416  1439  8373.1709

In [6]:
mean_squared_error(df.Price, df5.Price)

2009433.7887422012

#### team 3 again

In [13]:
df.tail()

       Id  Price
412  1433   9950
413  1435   8450
414  1436   8950
415  1437   8450
416  1439  10845

In [7]:
df3 = pd.read_csv("../team_answer_set/Price_3조_2.csv")
df3.tail()

       Id            0
412  1433  8190.702667
413  1435  8402.239591
414  1436  7763.769517
415  1437  7876.338532
416  1439  8513.677689

In [12]:
mean_squared_error(df.Price, df3.ix[:, 1])

2879132.8954655682